<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoltCDL | Skills test Details</title>

    <link rel="shortcut icon" href="/static/images/thumb.png">
    <link rel="stylesheet" href="/users/students/skills-details.css">
</head>
<body>

    <header>
        <!-- HOME element -->
        <a href="/admin/profile" class="header-left-item">
            <span class="item-home">Home</span>
        </a>      <!-- header-left-item -->
        <!-- CENTER element -->
        <nav class="header-center-item">
            <div class="nav-left-side">
                <a href="/admin/charts/AR" class="header-nav-item" title="Accounts Receivable">
                    <span>Accounts Receivable</span>
                </a>
                <a href="/admin/charts/PF" class="header-nav-item active-item" title="Graduation Dynamics">
                    <span>Graduation Dynamics</span>
                </a>
                <a href="/admin/charts/IA" class="header-nav-item" title="Instructors Activity">
                    <span>Instructors Activity</span>
                </a>
            </div>
            <div class="nav-right-side">
                <% if(locals.user) { %>
                    <span class="admin-name"><%= user.name %></span>
                    <span class="admin-separator">|</span>
                    <span class="admin-email"><%= user.location %></span>
                <% } %>
            </div>
        </nav>      <!-- header-center-item -->
        <!-- SIGN OUT element -->
        <form class="header-right-item" action="/admin/logout" method="POST">
            <button type="submit">
                <svg width="25" height="21" viewBox="0 0 25 21">
                    <path d="M10.2041 18.8964C10.2041 18.939 10.2094 19.0454 10.22 19.2156C10.2307 19.3859 10.2333 19.5268 10.228 19.6386C10.2227 19.7503 10.2067 19.8753 10.1802 20.0136C10.1536 20.1519 10.1004 20.2557 10.0207 20.3248C9.94101 20.394 9.83206 20.4286 9.69388 20.4286H4.59184C3.32696 20.4286 2.24543 19.979 1.34726 19.08C0.449086 18.1809 0 17.0983 0 15.8321V4.59643C0 3.33028 0.449086 2.24767 1.34726 1.3486C2.24543 0.449535 3.32696 0 4.59184 0H9.69388C9.83206 0 9.95164 0.0505394 10.0526 0.151618C10.1536 0.252697 10.2041 0.372396 10.2041 0.510714C10.2041 0.553274 10.2094 0.659673 10.22 0.829911C10.2307 1.00015 10.2333 1.14113 10.228 1.25285C10.2227 1.36456 10.2067 1.48958 10.1802 1.6279C10.1536 1.76622 10.1004 1.86996 10.0207 1.93912C9.94101 2.00828 9.83206 2.04286 9.69388 2.04286H4.59184C3.89031 2.04286 3.28975 2.29289 2.79018 2.79297C2.2906 3.29304 2.04082 3.8942 2.04082 4.59643V15.8321C2.04082 16.5344 2.2906 17.1355 2.79018 17.6356C3.28975 18.1357 3.89031 18.3857 4.59184 18.3857H9.56633L9.74968 18.4017L9.93304 18.4496L10.0606 18.5373L10.1722 18.681L10.2041 18.8964ZM25 10.2143C25 10.4909 24.899 10.7303 24.6971 10.9325L16.0236 19.6146C15.8216 19.8168 15.5825 19.9179 15.3061 19.9179C15.0298 19.9179 14.7906 19.8168 14.5886 19.6146C14.3867 19.4125 14.2857 19.1731 14.2857 18.8964V14.3H7.14286C6.8665 14.3 6.62734 14.1989 6.42538 13.9968C6.22343 13.7946 6.12245 13.5552 6.12245 13.2786V7.15C6.12245 6.87336 6.22343 6.63397 6.42538 6.43181C6.62734 6.22965 6.8665 6.12857 7.14286 6.12857H14.2857V1.53214C14.2857 1.25551 14.3867 1.01611 14.5886 0.813951C14.7906 0.611793 15.0298 0.510714 15.3061 0.510714C15.5825 0.510714 15.8216 0.611793 16.0236 0.813951L24.6971 9.49609C24.899 9.69825 25 9.93765 25 10.2143Z" />
                </svg>
            </button>
        </form>     <!-- header-right-item -->
    </header>


    <div class="report-box">
        <% if(!graduates) { %>
            <h1>No data passed...</h1>
        <% } else { %>
            <div class="report-title">
                <h1>Found<span><%= graduates.length %> student record(s)</span></h1>
                <nav>
                    <svg width="14" height="24" viewBox="0 0 14 24" fill="none" onclick="showMonth(period, -1)">
                        <path d="M14 1.455L12.4906 0L0 12L12.4906 24L14 22.5525L3.02604 12L14 1.455Z" fill="#DADADA"/>
                    </svg>
                    <a href="#" class="report-period" data-year="<%= year %>" data-month="<%= month %>" id="period"><%= year %>-<%= month < 10 ? `0${month}` : month %></a>
                    <svg width="14" height="24" viewBox="0 0 14 24" fill="none" onclick="showMonth(period, 1)">
                        <path d="M0 1.455L1.50937 0L14 12L1.50937 24L0 22.5525L10.974 12L0 1.455Z" fill="#DADADA"/>
                    </svg>
                </nav>
            </div>

            <% graduates.forEach(student => { %>
                <div class="report-item" data-graduate="<%= student.graduate %>">
                    <div class="-report-item-left">
                        <p class="student-box">
                            <a class="student-name" href="/admin/user/<%= student.user %>"><%= student.fullName %></a>
                            <span class="student-location"><%= student.location %></span>
                        </p>
                        <p class="student-enrollment"><%= student.enrollmentStatus %></p>
                    </div>

                    <ul class="-report-item-right">
                        <% if(student.skillsTest) { %>
                            <% student.skillsTest.forEach((test, index) => { %>
                                <li>
                                    <span class="test-index"><%= index + 1 %>.</span>
                                    <span class="test-type"><%= test.testType %></span>
                                    <span class="test-date"><%= new Date(test.scheduledDate).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) %></span>
                                    <span class="test-location"><%= test.testLocation %></span>
                                </li>
                            <% }) %>
                        <% } %>
                    </ul>      <!-- -report-item-right -->
                </div>
            <% }) %>
        <% } %>
    </div>      <!-- report-box -->


    <script defer>

        function showMonth(period, delta) {
            if (period) {
                let m = parseInt(period.dataset.month) + delta
                let y = parseInt(period.dataset.year) + Math.floor(m / 12)

                m = (parseInt(period.dataset.month) + delta) % 12

                if (!m) {
                    if (delta > 0) {
                        m = 1
                        y += 1
                    } else {
                        m = 12
                        y -= 1
                    }
                }

                period.setAttribute("href", `/admin/student/skills-details?year=${y}&month=${m}`)
                period.click()
            }
        }

    </script>

</body>