<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TTA Player</title>

  <link rel="shortcut icon" href="../../static/images/thumb.png">
    
  <!-- Styles -->
  <link rel="stylesheet" href="../../static/css/fonts.css">
  <link rel="stylesheet" href="../../static/css/brix-family.css">

  <link rel="stylesheet" href="../../static/css/colors.css">

  <link rel="stylesheet" href="/users/tuition/tuition.css">

</head>
<body>

  <!-- TITLES -->
  <div class="title-box">
    <% if (videoData) { %>
      <h1><%= videoData.lessonTitle %></h1>
      <h2><%= videoData.lesson %></h2>
    <% } %>
  </div>

  <!-- PLAYER -->
  <div class="player-box" onclick=ytPlayerClick(this)>
    <div id="player"></div>
  </div>

  <!-- TEST -->
  <div class="test-box">
    <% if (videoData) { %>
      <% videoData.questions.map(question => { %>
        <h3><%= question.question %></h3>
        <% question.answers.map((answer, index) => { %>

          <label for="Q<%= question.id %>A<%= index %>">
            <input type="radio" name="Q<%= question.id %>" id="Q<%= question.id %>A<%= index %>" />
            <%= answer %>
          </label>

        <% }) %>

      <% }) %>
    <% } %>
  </div>



  <script>
    const tag = document.createElement('script')
    tag.src = "https://www.youtube.com/iframe_api"

    const firstScriptTag = document.getElementsByTagName('script')[0]
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)
   
    let player;

    const playerOptions = {
      videoId: '<%= video %>',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      },
      playerVars: {
        autoplay: 1,
        controls: 0,
        disablekb: 1,
        fs: 0,
        iv_load_policy: 3,
        modestbranding: 1,
        playsinline: 1,
        rel: 0,
        showinfo: 0,
        start: 0    //   here last viewed second can be start from
      }
    }


    function onYouTubeIframeAPIReady() {    //  loads YT-Player with options when ready
      player = new YT.Player('player', playerOptions)
    }


    function onPlayerReady(event) {
      event.target.playVideo()
    }


    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING) {
      }
    }


    function stopVideo() {
      player.stopVideo()
    }


    function ytPlayerClick(playerBox) {
      if (player.getPlayerState()  == YT.PlayerState.PLAYING) {
        player.pauseVideo()
        playerBox.classList.add('-paused-state')
      } else {
        player.playVideo()
        playerBox.classList.remove('-paused-state')
      }
    }


  </script>

</body>
</html>


