<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTA | Class A Pre-Trip Inspection</title>

    <link rel="shortcut icon" href="/static/images/thumb.png">
        
    <!-- Styles -->
    <link rel="stylesheet" href="../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/brix-family.css">

    <link rel="stylesheet" href="../../static/css/colors.css">
        
    <link rel="stylesheet" href="/admin/instructors/tests.css">

</head>
<body>

   <header>
        <h1>Class A Pre-Trip Inspection</h1>
        <h2>Student_______</h2>
        <h2>Examiner _______</h2>
        <p>Date _________</p>
        <p>Auto / Manual</p>
    </header>

    <% let count %>

    <form class="main-test-box">
        <% if (test) { %>
            <% test.map((block, N) => { %>
                <section class="test-block-box" data-block="block_<%= N %>">
                    <details>
                        <% count = 0 %>
                        <summary>
                            <span class="section-title"><%= block.title %> [<span class="section-result" id="block_<%= N %>" data-total=0 data-correct=0 data-incorrect=0>0</span>]</span>
                        </summary>
                        <% block.items.map((subblock, i) => { %>
                            <section class="item-box">
                                <h3 class="item-title"><%= subblock.item %></h3>
                                <div class="item">
                                    <% count += subblock.checks.length %>
                                    <% subblock.checks.map((check, j) => { %>
                                        <span class="skill">
                                            <input type="checkbox" name="<%= `block${N}_item${i}_skill${j}` %>" 
                                                id="<%= `block${N}_item${i}_skill${j}` %>" data-qty="block_<%= N %>"
                                                onchange="updateQty('block_<%= N %>')" />
                                            <label for="<%= `block${N}_item${i}_skill${j}` %>"><%= check %></label>
                                        </span>
                                    <% }) %>
                                </div>
                            </section>  <!-- item-box -->
                        <% }) %>
                        <input type="hidden" name="block-total" data-id="block_<%= N %>" value="<%= count %>">
                    </details>
                </section> <!-- test-block-box -->
            <% }) %>
        <% } %>     <!-- if TEST passed -->
        <div class="buttons-box">
            <button class="-btn" type="submit" id="submit">Submit</button>
            <button class="-btn" type="reset">Reset</button>
        </div>
    </form>   <!-- main-test-box -->

    <footer>
        <p>In Cab Missed (max 20): _________ Pass / Fail</p>
        <p>Out Cab Missed (max 60): __________ Pass / Fail</p>
    </footer>


    <script>

        const totals = document.getElementsByName("block-total")
        
        // INIT - initing blocks with qty of items
        function InitQtyTotals() {
            let el
            for(let i=0; i<totals.length; i++) {
                el = document.querySelector(`#${totals[i].dataset.id}`)
                if (el) {
                    el.dataset.correct = 0
                    el.dataset.total = parseInt(totals[i].value)
                    el.dataset.incorrect = parseInt(totals[i].value)
                    el.textContent = `0/${totals[i].value}`
                }
            }
        }


        // updates qty of answers in block
        function updateQty(qtyElId) {
            const qtyEl = document.getElementById(qtyElId)
            if (!qtyEl) { return false }

            const blockInputs = document.querySelectorAll(`[data-qty='${qtyElId}']`)
            if (!blockInputs) { return false }

            let correct = 0
            for (let i=0; i< blockInputs.length; i++) {
                if (blockInputs[i].checked) {
                    correct += 1
                }
            }

            qtyEl.dataset.correct = correct
            qtyEl.dataset.incorrect = qtyEl.dataset.total - correct
            qtyEl.textContent = `${qtyEl.dataset.correct}/${qtyEl.dataset.total}`

            const block = document.querySelector(`[data-block='${qtyElId}']`)
            if (!block) { return false }

            function changeView(i, arr) {
                arr.map((a, index) => {
                    block.classList.remove(a)
                    if (i === index) {
                        block.classList.add(a)
                    }
                })
            }

            let perc = qtyEl.dataset.correct / qtyEl.dataset.total
            if (perc > 0.98) {
                changeView(2, ['-done1-3', '-done2-3', '-done3-3'])
            } else {
                if (perc > 0.65) {
                    changeView(1, ['-done1-3', '-done2-3', '-done3-3'])
                } else {
                    if (perc > 0.32) {
                        changeView(0, ['-done1-3', '-done2-3', '-done3-3'])
                    } else {
                        changeView(-1, ['-done1-3', '-done2-3', '-done3-3'])
                    }
                }
            }

        }

        
        // reset results on reset
        document.forms[0].addEventListener('reset', (e) => {
            if (!confirm('This will reset test and above entered data will be lost. Are you sure?')) { 
                e.preventDefault()
                return
            }
            InitQtyTotals()
        })


        // Entry Point
        InitQtyTotals() //  initing totals per block

    </script>

</body>
</html>