<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTA | Admin '<%= user.id %>' Profile</title>

    <link rel="shortcut icon" href="/static/images/thumb.png">
        
    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/brix-family.css">

    <link rel="stylesheet" href="/static/css/colors.css">
        
    <link rel="stylesheet" href="/admin/admProfile.css">
</head>
<body>

    <!-- each location has own color for Chart -->
    <% const colorArray = ['black', 'red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'purple'] %>

    <div class="main-adm-box">
        <% if (user) { %>

            <div class="left-panel">
                <div class="navigation">
                    <a class="-btn -main-page" href="/">
                        <i class="fas fa-warehouse"></i>
                        Main Page
                    </a>
                    <div class="adm-profile">
                        <p><%= user.email.toLowerCase() %></p>
                        <p>Auth:<span class="adm-prop"><%= user.authString.toUpperCase() %></span></p>
                        <p>Location:<span class="adm-prop"><%= user.location.toUpperCase() %></span></p>
                    </div>  <!-- adm-profile -->
                    <form class="log-out-form" action="/admin/logout" method="POST">
                        <button class="-btn -log-out" type="submit">Sign Out</button>
                    </form>
                </div>

                <div class="navigation">
                    <a class="-btn" href="/admin/user-area">
                        <i class="fas fa-users"></i>
                        Users Area
                    </a>
                    <a class="-btn" href="/admin/student/list">
                        <i class="fas fa-address-book"></i>
                        Student List
                    </a>
                    <a class="-btn" href="/admin/student">
                        <i class="fas fa-feather"></i>
                        INs
                    </a>
                    <a class="-btn" href="../catalog">
                        <i class="fas fa-book"></i>
                        Catalog
                    </a>
                </div>  <!-- navigation -->
            </div>  <!-- left-panel -->

            <div class="adm-desktop">
                <div class="top-side">
                    <div class="top-side-name"><%= user.name %></div>
                    <div class="top-side-id"><%= user.id %></div>
                </div>  <!-- top-side -->
                <% if(analyticsArray) { %>
                    <div class="chart-title">New Students Involving Chart</div>
                    <div class="analythicsChart">
                        <% analyticsArray.map(item => { %>
                            <div class="chart-column" data-key="<%= item.month %>.<%= item.year %>" data-value="<%= item.newStudents %>">
                                <% if(item.newStudents > 0) { %>
                                    <% item.locations.map((location, index) => { %>
                                        <% if(item.locationValues[index] > 0) { %>
                                            <% let perc = item.locationValues[index] *100 / item.newStudents %>
                                            <% let href = `/admin/student/shortlist?year=${item.year}&month=${item.month}&location=${location}` %>
                                            <% let title = `${location} - ${item.locationValues[index]}` %>
                                            <a href='<%= href %>' class="chart-sub-column" data-value="<%= item.locationValues[index] %>" style="--h:<%= perc %>%; --c:<%= colorArray[index - 1] %>" title="<%= title %>"></a>  <!-- use index-1 because 0th el. is 'All' -->
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            </div>
                        <% }) %>
                    </div>  <!-- analythicsChart -->
                <% } %>
            </div>  <!-- desktop -->

        <% } %>     <!-- admin is defined -->
    </div>  <!-- main-adm-box -->



    <script>

        // @drawing chart
        // get chart div height depending on vh
        const chart = document.querySelector(".analythicsChart")

        if (chart) {
            const maxHeight = parseFloat(getComputedStyle(chart).height)
            const cols = document.querySelectorAll(".chart-column")
            
            // cols[1].dataset.value = '10'
            // cols[2].dataset.value = '12'
            // cols[4].dataset.value = '5'

            if (maxHeight && cols) {
                // find max value
                let max = 0
                for (let i=0; i<cols.length; i++) {
                    if (parseInt(cols[i].dataset.value) > max) { max = parseInt(cols[i].dataset.value) }
                }
                if (max) {
                    // setting values espectively to max                    
                    for (let i=0; i<cols.length; i++) {
                        cols[i].style.height = `${ parseInt(cols[i].dataset.value) * maxHeight / max }px`
                    }
                }
            }
        }

    </script>

</body>
</html>