<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TTA | Sign In</title>

    <link rel="shortcut icon" href="../static/images/thumb.png">
    
    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/brix-family.css">

    <link rel="stylesheet" href="../static/css/colors.css">

    <link rel="stylesheet" href="/users/login.css">

</head>
<body>
    
    <div class='login-box'>

        <div class="login-inner">

            <div class="logo-box">
                <a href="/" title="Back to Site">
                    <img class="login-logo" src="/static/images/water-mark.png" alt="Main TTA Logo">
                </a>
            </div>

            <div class="register-box">Don't have an account?<a href="/user/register">Register</a></div>
            <div class="admin-prompt -hidden">Are you an Admin?</div>
            
            <section class='message-box'>
                <% if (locals.info) { %>
                    <h2>Info</h2>
                    <p><%= (locals.info) %></p>
                <% } %>
                <% if (locals.error) { %>
                    <h2>Error found</h2>
                    <p><%= (locals.error) %></p>
                <% } %>
                <% if (locals.isThereErrors) { %>
                    <h2>Errors found</h2>
                    <ol type='1'>
                        <% errors.map(err => { %>
                            <li><span><%= err.param.toUpperCase() %>:</span><strong><%= err.msg %></strong></li>
                        <% }) %>
                    </ol>
                <% } %>
                <% if(locals.issue) { %>
                    <div class="log-issue"><%= issue %></div>
                <% } %>
            </section>      <!-- message box -->

            <div class="slider" onclick="toggleUserAdmin(this)">
                <div class="slider-button"></div>
            </div>

            <div class="sign-regist-form-box">
                <form class='sign-form-box' action="/user/login" method="POST" id="signIn">
                    <input class="sign-input" type="email" name='email' id='email' placeholder="Email" value='@' required />
                    <input class="sign-input" type="password" name='password' id='password' placeholder="Password" required />
                    <button class="sign-btn" type="submit">Log In</button>
                </form>
                <form class='regist-form-box -hidden' action="/user/passwordreset" method="POST" id="resetPassword" class='-hidden'>
                    <p class='register-box'>Let us know what is your login-email. A new generated password will be sent to the provided one.</p>
                    <input class="sign-input" type="email" name='email' placeholder="Email" value="" required />
                    <button class="sign-btn" type="submit">Send</button>
                </form>
                <div class='reset-box' onclick="toggleResetMenu(this)">reset a password</div>
            </div>      <!-- login-form-box -->

            <div class="admin-box -hidden">
                <form class="log-form" action="/admin/login" method="POST">
                    <input class="sign-input" type="text" name='id' placeholder="ID" required value="admin" />
                    <input class="sign-input" type="password" name='password' placeholder="Password" required />
                    <button class="sign-btn" type="submit">Log in</button>
                </form>
            </div>

        </div>  <!-- login-inner -->
    </div>      <!-- login-box -->
  

    <script defer>
        
        document.querySelector('#resetPassword').addEventListener('submit', (e) => {
            if (!confirm("This will reset your current password. Are you sure?")) {
                e.preventDefault()
            }
        })


        const reset = document.querySelector('#resetPassword')
        const signin = document.querySelector('#signIn')

        function toggleResetMenu(toggler) {
            if (reset.classList.contains('-hidden')) {
                reset.classList.remove('-hidden')
                signin.classList.add('-hidden')
                toggler.textContent = 'back to login'
            } else {
                signin.classList.remove('-hidden')
                reset.classList.add('-hidden')
                toggler.textContent = 'reset a password'
            }
        }


        function toggleUserAdmin(toggler) {
            const userBox = document.querySelector(".sign-regist-form-box")
            const userReg = document.querySelector(".register-box")
            const adminBox = document.querySelector(".admin-box")
            const adminPrompt = document.querySelector(".admin-prompt")

            if (!userBox || !adminBox) { return }

            toggler.classList.toggle('-to-admin')
            userBox.classList.toggle('-hidden')
            userReg.classList.toggle('-hidden')
            adminBox.classList.toggle('-hidden')
            adminPrompt.classList.toggle('-hidden')

            if (toggler.classList.contains('-to-admin')) {
                localStorage.setItem("role", "admin")
            } else {
                localStorage.removeItem("role")
            }
        }


        function toggleToAdmin() {
            const role = localStorage.getItem("role")
            if (role === "admin") {
                document.querySelector(".slider").click()
            }
        }


        // entry point
        toggleToAdmin()

    </script>


</body>
</html>