<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTA | User Area</title>

    <link rel="shortcut icon" href="../../static/images/thumb.png">

    <!-- Styles -->
    <link rel="stylesheet" href="../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/brix-family.css">

    <link rel="stylesheet" href="/static/css/colors.css">

    <link rel="stylesheet" href="/admin/views/schedule.css">

</head>
<body>

    <% if (locals.startDate && locals.spotsArray && students) { %>

        <%
            const monthNames = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

            function leadingZero(n) { return n < 10 ? `0${n}` : `${n}` }

            function checkIfBusy(spotDate) {
                let result = false
                if (scheduledAppointments.length) {
                    scheduledAppointments = scheduledAppointments.filter(appointment => {
                        if (appointment.appDate == `${spotDate}`) {
                            result = appointment.studentNameKey
                        } else {
                            return appointment
                        }
                    })
                }
                return result
            }

            function getOptionTitle(student) {
                if (student.user) {
                    if(student.user.dataCollection) {
                        return `${student.user.dataCollection.firstName} ${student.user.dataCollection.lastName} ${student.key}`
                    }
                }
                return
            }

            const year = startDate.getFullYear()
            const month = startDate.getMonth()
            const monday = startDate.getDate()
        %>

        <div class="schedule-box">

            <input type="date" onchange="reloadDueToInput(this, reloadHref)" value="<%= year %>-<%= leadingZero(month + 1) %>-<%= leadingZero(monday) %>" />
            <a href="#" id="reloadHref"></a>

            <form class="calendar-box" action="/admin/schedule/backing1" method="POST" id="backing1">
                <h2 class="calendar-title">Calendar</h2>
                
                <input type="text" name="calTransmission" value="AUTO" readonly />
                <input type="text" name="calLocation" value="Tacoma, WA" readonly />

                <section class="two-weeks-box">
                    <div class="calendar">
                        <!-- left column -->
                        <div class="calendar-column -week-one">
                            <div class="day-of-week">
                                <span class="day-title">Day</span>
                                <span class="day-date">Timestamp</span>
                            </div>
                            <div class="spot -header">
                                <% spotsArray.forEach((spot, index) => { %>
                                    <div class="time-spot -left-header"><%= spot %></div>
                                <% }) %>
                            </div>
                        </div>      <!-- calendar-column -->
    
                        <!-- rest columns -->
                        <% daysOfWeek.forEach((day, dayIndex) => { %>
                            <% 
                                let date = new Date(Date.UTC(year, month, monday + dayIndex, 0, 0, 0))
                                let y = date.getFullYear()
                                let m = monthNames[date.getMonth()]
                                let d = leadingZero(date.getDate())
    
                                let dateKey = `${y}-${leadingZero(date.getMonth() + 1)}-${d}`
                            %>
                            <div class="calendar-column">
                                <div class="day-of-week">
                                    <span class="day-title"><%= day %></span>
                                    <span class="day-date"><%= `${m}.${d}.${y}` %></span>
                                </div>
                                <% spotsArray.forEach(spot => { %>
                                    <% let occupiedBy = checkIfBusy(new Date(`${dateKey}T${spot}:00.000Z`)) %>
    
                                    <% if(occupiedBy) { %>
                                        <div class="spot -occupied">
                                            <span class="student-namekey"><%= occupiedBy %></span>
                                            <div class="tool-bar">
                                                <svg class="delete-btn" viewBox="0 0 512 512">
                                                    <path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM175 208.1L222.1 255.1L175 303C165.7 312.4 165.7 327.6 175 336.1C184.4 346.3 199.6 346.3 208.1 336.1L255.1 289.9L303 336.1C312.4 346.3 327.6 346.3 336.1 336.1C346.3 327.6 346.3 312.4 336.1 303L289.9 255.1L336.1 208.1C346.3 199.6 346.3 184.4 336.1 175C327.6 165.7 312.4 165.7 303 175L255.1 222.1L208.1 175C199.6 165.7 184.4 165.7 175 175C165.7 184.4 165.7 199.6 175 208.1V208.1z"/>
                                                </svg>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <select class="spot -spot-data" name="spot">
                                            <option class="time-spot" value="empty">empty</option>
                                            <% students.forEach(student => { %>
                                                <option class="time-spot" value="<%= student._id %>@<%= dateKey %>@<%= spot %>"><%= getOptionTitle(student) %></option>
                                            <% }) %>
                                        </select>
                                    <% } %>
    
                                <% }) %>
                            </div>      <!-- calendar-column -->
                        <% }) %>
                    </div>    <!-- calendar -->
    
                    <div class="calendar">
                        <!-- left column -->
                        <div class="calendar-column -week-two">
                            <div class="day-of-week">
                                <span class="day-title">Day</span>
                                <span class="day-date">Timestamp</span>
                            </div>
                            <div class="spot -header">
                                <% spotsArray.forEach((spot, index) => { %>
                                    <div class="time-spot -left-header"><%= spot %></div>
                                <% }) %>
                            </div>
                        </div>      <!-- calendar-column -->
    
                        <!-- rest columns -->
                        <% daysOfWeek.forEach((day, dayIndex) => { %>
                            <% 
                                let date = new Date(Date.UTC(year, month, monday + dayIndex + 7, 0, 0, 0))
                                let y = date.getFullYear()
                                let m = monthNames[date.getMonth()]
                                let d = leadingZero(date.getDate())
    
                                let dateKey = `${y}-${leadingZero(date.getMonth() + 1)}-${d}`
                            %>
                            <div class="calendar-column">
                                <div class="day-of-week">
                                    <span class="day-title"><%= day %></span>
                                    <span class="day-date"><%= `${m}.${d}.${y}` %></span>
                                </div>
                                <% spotsArray.forEach(spot => { %>
                                    <% let occupiedBy = checkIfBusy(new Date(`${dateKey}T${spot}:00.000Z`)) %>
    
                                    <% if(occupiedBy) { %>
                                        <div class="spot -occupied">
                                            <span class="student-namekey"><%= occupiedBy %></span>
                                            <div class="tool-bar">
                                                <div class="tool-bar">
                                                    <svg class="delete-btn" viewBox="0 0 512 512">
                                                        <path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM175 208.1L222.1 255.1L175 303C165.7 312.4 165.7 327.6 175 336.1C184.4 346.3 199.6 346.3 208.1 336.1L255.1 289.9L303 336.1C312.4 346.3 327.6 346.3 336.1 336.1C346.3 327.6 346.3 312.4 336.1 303L289.9 255.1L336.1 208.1C346.3 199.6 346.3 184.4 336.1 175C327.6 165.7 312.4 165.7 303 175L255.1 222.1L208.1 175C199.6 165.7 184.4 165.7 175 175C165.7 184.4 165.7 199.6 175 208.1V208.1z"/>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <select class="spot -spot-data" name="spot">
                                            <option class="time-spot" value="empty">empty</option>
                                            <% students.forEach(student => { %>
                                                <option class="time-spot" value="<%= student._id %>@<%= dateKey %>@<%= spot %>"><%= getOptionTitle(student) %></option>
                                            <% }) %>
                                        </select>
                                    <% } %>
    
                                <% }) %>
                            </div>      <!-- calendar-column -->
                        <% }) %>
                    </div>    <!-- calendar -->
                </section>      <!-- two-weeks-box -->

                <textarea class="calTextArray -hidden" name="formTextArray"></textarea>
                <div class="-submit" onclick="submitForm(backing1)">Submit</div>

            </form>      <!-- calendar-box -->
        </div>      <!-- schedule-box -->

    <% } else { %>
        <h2 class="error-message">No core data passed...</h2>
    <% } %>


    <script>

        function reloadDueToInput(dateInput, ref) {
            if (!dateInput || !ref) { return }
            ref.setAttribute('href', `/admin/schedule?date=${dateInput.value}`)
            ref.click()
        }


        function submitForm(schForm) {
            if (!schForm) { return }
            const spots = schForm.querySelectorAll(".-spot-data")
            const formTextArray = schForm.querySelector(".formTextArray")

            if (!spots || !formTextArray) {
                alert('Nothing is changed')
                return
            }
            spots.forEach(spot => {
                if (spot.value != "empty") {
                    formTextArray.value += `${spot.value},`
                }
            })
            schForm.submit()
        }

    </script>

</body>
</html>