<!-- PARTIAL view -->
<!-- included into userInfo.ejs -->

<% if (!user.dataCollection || !user.application || !user.agreement) { %>
    <section class="row-item-85">
        <div class="fields-set">
            <div class="field-warning">Student Section is unavailable, because enrollment forms are not completed yet</div>
        </div>
    </section>
    
    <% if(user.dataCollection) { %>
        <section class="row-item-85">
            <div class="field-value -small">#1 Data Collection has been completed by User <%= new Date(user.dataCollection.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
    <% } else { %>
        <section class="row-item-85">
            <div class="field-warning">#1 Data Collection hasn't been completed by User.</div>
        </section>
    <% } %>

    <% if(user.application) { %>
        <section class="row-item-85">
            <div class="field-value -small">#2 Application has been completed by User <%= new Date(user.application.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
    <% } else { %>
        <section class="row-item-85">
            <div class="field-warning">#2 Application form is not ready yet.</div>
        </section>
    <% } %>

    <% if(user.agreement) { %>
        <section class="row-item-85">
            <div class="field-value -small">#3 Agreement has been signed by User <%= new Date(user.agreement.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
        <% if(!user.agreement.schoolSignRep) { %>
            <section class="row-item-85">
                <div class="field-warning">Agreement hasn't been signed by School's manager!!!</div>
            </section>
        <% } else { %>
            <section class="row-item-85">
                <div class="field-accomplished">Agreement has been signed also from School's behalf.</div>
            </section>
        <% } %>  
    <% } else { %>
        <section class="row-item-85">
            <div class="field-warning">#3 Agreement has not been signed yet.</div>
        </section>
    <% } %>

<% } else {%>

    <!-- TODO: if already a Student then skip this -->
    <% if(!user.student) { %>
        
        <section class="row-item-85">
            <div class="field-value -small">#1 Data Collection has been completed by User <%= new Date(user.dataCollection.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
        <section class="row-item-85">
            <div class="field-value -small">#2 Application has been completed by User <%= new Date(user.application.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
        <section class="row-item-85">
            <div class="field-value -small">#3 Agreement has been signed by User <%= new Date(user.agreement.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
    
        <section class="row-item-85"><div class="gap-line"></div></section>

        <% if(!user.agreement.schoolSignRep) { %>
            <section class="row-item-85">
                <div class="field-warning">Agreement hasn't been signed by School's manager!!!</div>
            </section>
        <% } else { %>
            <section class="row-item-85">
                <div class="field-accomplished">Agreement has been signed also from School's behalf.</div>
            </section>

            <form action="/admin/student/new/<%= user._id %>" method="post">
    
                <section class="row-item-85">
                    <div class="field-accomplished">Everything is ready to create a new Student on Applicant Profile basis</div>
                    <button class='-btn' type="submit">Make a Student</button>
                </section>
        
            </form>
        <% } %> 
       
    <% } else { %>

        <!-- TOOL: function floatToPercent() -->
        <% function floatToPercent(d) { const D = d*100; const R = Math.trunc(D); const L = Math.round(10*(D % 1)); return `${R}.${L}%` } %>
        <!-- TOOL: function printDateTime() -->
        <% function printDateTime(date) {  
            const d = new Date(date).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' });
            const t = new Date(date).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles', hour12: false });
            return `${d} (${t})`
        } %>
        <!-- TOOL: Clocks TTT, coordinates -->
        <% function strTTT(TTT) { const H = Math.trunc(TTT); const M = Math.round(60*(TTT % 1)); return M > 9 ? `${H}h:${M}m` : `${H}h:0${M}m` } %>
        <% function normTTT(TTT) { return `${ Math.round(TTT * 100) / 100 }h` } %>
        <% function normCOORD(latlon) { return Math.round(latlon * 1000) / 1000 } %>


        <form class="row-item-95 student-info-table" action='/admin/student/update-location' method="POST" id="update-location">
            <!-- table header -->
            <p class="-table-header">Info</p>
            <p class="-table-header">Value</p>
            <p class="-table-header">Created</p>
            <p class="-table-header -cell-center">More</p>

            <!-- 1st string -->
            <p>Student key</p>
            <p><%= user.student.key %></p>
            <p><%= printDateTime(user.student.created) %></p>
            <p><%= user.student._id %></p>

            <!-- next line Status -->
            <p>Status</p>
            <% if(user.student.status === "unblock") { %>
                <p class="field-accomplished">NORMAL</p>
            <% } %>
            <% if(user.student.status === "block") { %>
                <p class="field-warning">BLOCKED</p>
            <% } %>
            <% if(user.student.status === "archive") { %>
                <p class="field-yellow">ARCHIVED</p>
            <% } %>
            <p></p>
            <p>*use menu to update status</p>
            
            <!-- next line Email -->
            <p>Email</p>
            <% if(user.student.email === user.email) { %>
                <a href="mailto:<%= user.student.email %>">
                    <p class="-email field-accomplished"><%= user.student.email %></p>
                </a>
                <p></p>
                <p class="field-accomplished">equals to user email</p>
            <% } else { %>
                <a href="mailto:<%= user.student.email %>">
                    <p class="-email field-warning"><%= user.student.email %></p>
                </a>
                <p></p>
                <p class="field-warning">doesn't equal to user email</p>
            <% } %>

            <!-- next line Location -->
            <p>Location</p>
            <!-- hidden, for location update -->
            <input type="hidden" name="studentId" value="<%= user.student._id %>" />
            <input type="hidden" name="userId" value="<%= user._id %>" />
            <% const location = user.student.location ? user.student.location : 'UNSET' %>
            <% const locs = ['Tacoma, WA', 'Kent, WA', 'Troutdale, OR'] %>
            <select class='location-input-box' name='location' id='location'>
                <% if (location === 'UNSET') { %>
                    <option value='UNSET' selected >UNSET</option>
                <% } %>
                <% locs.map(loc => { %>
                    <% if (location === loc) { %>
                        <option value='<%= loc %>' selected ><%= loc %></option>
                    <% } else { %>
                        <option value='<%= loc %>'><%= loc %></option>
                    <% } %>
                <%  }) %>
            </select>
            <p></p>
            <button type='submit' class='-btn-type2'>Update</button>

            <!-- next line Learning -->
            <p>Learning progress</p>
            <% if(user.student.tuition) { %>
                <% if(user.student.tuition.isAllowed) { %>
                    <p><%= floatToPercent(user.student.tuition.avLessonsRate) %></p>
                    <p><%= printDateTime(user.student.tuition.created) %></p>
                    <a class="-btn-type2" href="/admin/student/change-tuition-access/<%= user.student._id %>?action=disable">Disable access</a>
                <% } else { %>
                    <p class="field-warning">Disabled(<%= floatToPercent(user.student.tuition.avLessonsRate) %>)</p>
                    <p class="field-warning">Disabled</p>
                    <a class="-btn-type2" href="/admin/student/change-tuition-access/<%= user.student._id %>?action=enable">Enable access</a>
                <% } %>
            <% } else { %>
                <p>0%</p>
                <p class="field-warning">no access</p>
                <a class="-btn-type2" href="/admin/student/allow-tuition/<%= user.student._id %>">Allow</a>
            <% } %>
        </form>     <!-- student-info-table -->

        <!-- next line Clocks -->
        <% if (user.student.TTT) { %>
            <form class="row-item-95 student-info-table" action="/admin/clocks" method="POST">
                <input type="hidden" name="studentId" value="<%= user.student._id %>" />
                <input type="hidden" name="userId" value="<%= user._id %>" />
                <input type="hidden" name="studentKey" value="<%= user.student.key %>" />
                <input type="hidden" name="studentName" value="<%= user.dataCollection.firstName %> <%= user.dataCollection.middleName %> <%= user.dataCollection.lastName %>" />
                <input type="hidden" name="visiting" value="<%= user.agreement.visiting %>" />

                <p>Total Tuition Time</p>
                <% if(user.student.TTT === verTTT) { %>
                    <p><%= strTTT(user.student.TTT) %></p>
                <% } else { %>
                    <p class="field-warning"><%= strTTT(user.student.TTT) %></p>
                <% } %>
                <p><%= strTTT(verTTT) %> recalculated</p>
                
                <button class="-btn-type2" type="submit">Edit Clocks</button>
            </form>
        <% } %>

        <!-- next line Scorings -->
        <% if (user.student.scoring) { %>
            <form class="row-item-95 student-info-table" action="/admin/inst/toggle-isallow" method="POST">
                <input type="hidden" name="scoringId" value="<%= user.student.scoring._id %>" />
                <input type="hidden" name="userId" value="<%= user._id %>" />

                <p>Scorings</p>
                <% if(user.student.scoring.isAllowed) { %>
                    <p class="field-accomplished">Allowed</p>
                    <p><%= printDateTime(user.student.scoring.created) %></p>
                    <input type="hidden" name="newIsAllowed" value="disable" />
                    <button class="-btn-type2" type="submit">Disable</button>
                <% } else { %>
                    <p class="field-warning">Disabled</p>
                    <p><%= printDateTime(user.student.scoring.created) %></p>
                    <input type="hidden" name="newIsAllowed" value="enable" />
                    <button class="-btn-type2" type="submit">Enable</button>
                <% } %>

                <% if(user.student.scoring.lastDone) { %>
                    <p>Last scoring</p>
                    <p>done by <%= user.student.scoring.lastDoneBy %></p>
                    <p><%= printDateTime(user.student.scoring.lastDone) %></p>
                    <p>*refer to "Details"</p>
                <% } %>

            </form>
        <% } %>


        <section class="row-item-85"><div class="gap-line"></div></section>

        <!-- LEARNING Center Details -->
        <% if(user.student.tuition) { %>
            <section class="row-item-95">
                <div class="fields-set">
                    <svg class="details-ico"viewBox="0 0 448 512"><path d="M438.40625,377.59375c-3.20313,12.8125-3.20313,57.60937,0,73.60937Q447.9922,460.78907,448,470.40625v16c0,16-12.79688,25.59375-25.59375,25.59375H96c-54.40625,0-96-41.59375-96-96V96C0,41.59375,41.59375,0,96,0H422.40625C438.40625,0,448,9.59375,448,25.59375v332.8125Q448,372.79688,438.40625,377.59375ZM380.79688,384H96c-16,0-32,12.79688-32,32s12.79688,32,32,32H380.79688ZM128.01562,176.01562c0,.51563.14063.98438.14063,1.5l37.10937,32.46876A7.99954,7.99954,0,0,1,160,224h-.01562a9.17678,9.17678,0,0,1-5.25-1.98438L131.14062,201.375C142.6875,250.95312,186.90625,288,240,288s97.3125-37.04688,108.875-86.625l-23.59375,20.64062a8.02516,8.02516,0,0,1-5.26563,1.96876H320a9.14641,9.14641,0,0,1-6.01562-2.71876A9.26508,9.26508,0,0,1,312,216a9.097,9.097,0,0,1,2.73438-6.01562l37.10937-32.46876c.01563-.53124.15625-1,.15625-1.51562,0-11.04688-2.09375-21.51562-5.06251-31.59375l-21.26562,21.25a8.00467,8.00467,0,0,1-11.32812-11.3125l26.42187-26.40625a111.81517,111.81517,0,0,0-46.35937-49.26562,63.02336,63.02336,0,0,1-14.0625,82.64062A55.83846,55.83846,0,0,1,251.625,254.73438l-1.42188-34.28126,12.67188,8.625a3.967,3.967,0,0,0,2.25.6875,3.98059,3.98059,0,0,0,3.43749-6.03124l-8.53124-14.3125,17.90625-3.71876a4.00647,4.00647,0,0,0,0-7.84374l-17.90625-3.71876,8.53124-14.3125a3.98059,3.98059,0,0,0-3.43749-6.03124,4.726,4.726,0,0,0-2.25.67187L248.6875,184.125,244,71.82812a4.00386,4.00386,0,0,0-8,0l-4.625,110.8125-12-8.15624a4.003,4.003,0,0,0-5.68751,5.35937l8.53126,14.3125L204.3125,197.875a3.99686,3.99686,0,0,0,0,7.82812l17.90625,3.73438-8.53126,14.29688a4.72469,4.72469,0,0,0-.56249,2.04687,4.59547,4.59547,0,0,0,1.25,2.90625,4.01059,4.01059,0,0,0,2.75,1.09375,4.09016,4.09016,0,0,0,2.25-.6875l10.35937-7.04687L228.375,254.76562a55.86414,55.86414,0,0,1-28.71875-93.45312,63.01119,63.01119,0,0,1-14.04688-82.65625,111.93158,111.93158,0,0,0-46.375,49.26563l26.42187,26.42187a7.99917,7.99917,0,0,1-11.3125,11.3125l-21.26563-21.26563C130.09375,154.48438,128,164.95312,128.01562,176.01562Z"></path></svg>
                    <div class="details-title">Learning</div>
                </div>
            </section>
            <% if(user.student.tuition.lessons.length) { %>     <!-- begun tuition -->
                <details class="row-item-95">
                    <summary class="field-accomplished">
                        Details
                    </summary>
                    <div class="learning-table">
                        <p class='-table-header'>Training Module</p>
                        <p class='-table-header'>TITLE</p>
                        <p class='-table-header -cell-center'>LAST TAKE</p>
                        <p class='-table-header -cell-center'>TIME</p>
                        <p class='-table-header -cell-right'>PROGRESS</p>
                        <p class='-table-header -cell-center'>TEST</p>
                        <% user.student.tuition.lessons.map(lesson => { %>
                            <p><%= lesson.lesson %></p>
                            <p><%= lesson.lessonTitle %></p>
                            <p class='-cell-center'><%= new Date(lesson.watchDate).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></p>
                            <p class='-cell-center'><%= new Date(lesson.watchDate).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles',  hour12: false }) %></p>
                            <p class='-cell-right'><%= floatToPercent(lesson.videoProgress) %></p>

                            <% if(lesson.testProgress > 0) { %>
                                <p class='-cell-center -cell-done' title='Accomplished at <%= floatToPercent(lesson.testProgress) %>'>Yes</p>
                            <% } else {%>
                                <p class='-cell-center'>No</p>
                            <% } %>

                        <% }) %>
                    </div>  <!-- learning-table -->
                </details>
            <% } else { %>
                <section class="row-item-85">
                    <div class="fields-set">
                        <div class="field-warning">The course is scheduled but Student has not begun a tuition yet</div>
                    </div>
                </section>
            <% } %>
        <% } %>
        

        <!-- QR Clocks Details -->
        <% if (verClocks) { %>
            <section class="row-item-95">
                <div class="fields-set">
                    <svg class="details-ico" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg>
                    <div class="details-title">Clocks</div>
                </div>
            </section>
            <details class="row-item-95">
                <summary class="field-accomplished">
                    Details
                </summary>
                <div class="clock-table">
                    <p class="-table-header">DATE</p>
                    <p class="-table-header">KEY</p>
                    <p class="-table-header">IN</p>
                    <p class="-table-header">IN GEO</p>
                    <p class="-table-header">OUT</p>
                    <p class="-table-header">OUT GEO</p>
                    <p class="-table-header">DURATION</p>
                    <% verClocks.map(clock => { %>
                        <% let duration = clock.duration / (1000 * 60 *60) %>
                        <!-- Date, key -->
                        <div><%= new Date(clock.date).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
                        <div><%= clock.dateKey %></div>
                        <!-- IN & coord -->
                        <div><%= new Date(clock.in).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles', hour12: false }) %></div>
                        <% if (!isNaN(clock.inlat) && !isNaN(clock.inlon)) { %>
                            <a class="-coord" href="http://www.google.com/maps/place/<%= clock.inlat %>,<%= clock.inlon %>" target="_blank">
                                <%= normCOORD(clock.inlat) %>,<%= normCOORD(clock.inlon) %>
                            </a>
                        <% } else { %>
                            <div class="-no-coord"><%= clock.inlat %>,<%= clock.inlon %></div>
                        <% } %>
                        <!-- OUT & coord -->
                        <% if( !isNaN(clock.out) ) { %>
                            <div><%= new Date(clock.out).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles', hour12: false }) %></div>
                        <% } else { %>
                            <div class="-orange">NO</div>
                        <% } %>

                        <% if (!isNaN(clock.outlat) && !isNaN(clock.outlon)) { %>
                            <a class="-coord" href="http://www.google.com/maps/place/<%= clock.outlat %>,<%= clock.outlon %>" target="_blank">
                                <%= normCOORD(clock.outlat) %>,<%= normCOORD(clock.outlon) %>
                            </a>
                        <% } else { %>
                            <div class="-no-coord"><%= clock.outlat %>,<%= clock.outlon %></div>
                        <% } %>
                        <!-- duration -->
                        <% if( !isNaN(clock.out) ) { %>
                            <div><%= strTTT(duration) %></div>
                        <% } else { %>
                            <div class="-orange"><%= strTTT(duration) %></div>
                        <% } %>
                    <% }) %>
                </div>  <!-- clock-table -->
            </details>
        <% } %>   <!-- if (verClocks) -->


        <!-- SCORING Details -->
        <% if (user.student.scoring) { %>
            <section class="row-item-95">
                <div class="fields-set">
                    <svg class="details-ico" viewBox="0 0 480 512"><path d="M477.7 186.1L309.5 18.3c-3.1-3.1-8.2-3.1-11.3 0l-34 33.9c-3.1 3.1-3.1 8.2 0 11.3l11.2 11.1L33 316.5c-38.8 38.7-45.1 102-9.4 143.5 20.6 24 49.5 36 78.4 35.9 26.4 0 52.8-10 72.9-30.1l246.3-245.7 11.2 11.1c3.1 3.1 8.2 3.1 11.3 0l34-33.9c3.1-3 3.1-8.1 0-11.2zM318 256H161l148-147.7 78.5 78.3L318 256z"></path></svg>
                    <div class="details-title">Scorings</div>
                </div>
            </section>
            <details class="row-item-95">
                <summary class="field-accomplished">
                    Details
                </summary>
                <div class="scoring-table">
                    <div class="-table-header">Type</div>
                    <div class="-table-header">Date</div>
                    <div class="-table-header">Instructor</div>
                    <div class="-table-header">Result</div>
                    <div class="-table-header">Certificate</div>
                    <!-- constants -->
                    <% const scorings = user.student.scoring %>
                    <% const scorArrays = [scorings.scoringsInCab, scorings.scoringsOutCab, scorings.scoringsBacking, scorings.scoringsCity] %>
                    <% const scorTitles = ['pretrip In-Cab', 'pretrip Out-Cab', 'Backing Maneuvers', 'City Driving'] %>
                    <!-- 2D scorings array -->
                    <% scorArrays.map((scorArray, index) => { %>
                        <% scorArray.map(scor => { %>
                            <div><%= scorTitles[index] %></div>
                            <div><%= printDateTime(scor.created) %></div>
                            <div><%= scor.instructor %></div>
                            <!-- Result -->
                            <% if (scor.result) { %>
                                <div class="field-accomplished">passed</div>
                            <% } else { %>
                                <div class="field-warning">failed</div>
                            <% } %>
                            <!-- Certificate -->
                            <% if (scor.certificate) { %>
                                <div class="field-accomplished">Yes</div>
                            <% } else { %>
                                <div class="field-yellow">No</div>
                            <% } %>
                        <% }) %>
                    <% }) %>
                </div>  <!-- scoring-table -->
            </details>
        <% } %>   <!-- SCORING Details -->

        
        <script>
            const loc_form = document.querySelector('#update-location')
            if (loc_form) {
                loc_form.addEventListener('submit', (e) => {
                    const new_loc = document.querySelector('#location').value
            
                    if (new_loc === 'UNSET') {
                        alert("Location cannot be changed to 'UNSET'")
                        e.preventDefault()
                        return
                    }
                    
                    const current_loc = '<%= user.student.location %>'
                    if (new_loc === current_loc) {
                        e.preventDefault()
                        return
                    }
                })
            }
        </script>

    <% } %>     <!-- already a Student -->
    
<% } %>     <!-- if all forms are ready -->

