<!-- PARTIAL view -->
<!-- included into userInfo.ejs -->

<% if (!user.dataCollection || !user.application || !user.agreement) { %>
    <section class="row-item-85">
        <div class="fields-set">
            <div class="field-warning">Student Section is unavailable, because enrollment forms are not completed yet</div>
        </div>
    </section>
    
    <% if(user.dataCollection) { %>
        <section class="row-item-85">
            <div class="field-value -small">#1 Data Collection has been completed by User <%= new Date(user.dataCollection.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
    <% } else { %>
        <section class="row-item-85">
            <div class="field-warning">#1 Data Collection hasn't been completed by User.</div>
        </section>
    <% } %>

    <% if(user.application) { %>
        <section class="row-item-85">
            <div class="field-value -small">#2 Application has been completed by User <%= new Date(user.application.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
    <% } else { %>
        <section class="row-item-85">
            <div class="field-warning">#2 Application form is not ready yet.</div>
        </section>
    <% } %>

    <% if(user.agreement) { %>
        <section class="row-item-85">
            <div class="field-value -small">#3 Agreement has been signed by User <%= new Date(user.agreement.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
        <% if(!user.agreement.schoolSignRep) { %>
            <section class="row-item-85">
                <div class="field-warning">Agreement hasn't been signed by School's manager!!!</div>
            </section>
        <% } else { %>
            <section class="row-item-85">
                <div class="field-accomplished">Agreement has been signed also from School's behalf.</div>
            </section>
        <% } %>  
    <% } else { %>
        <section class="row-item-85">
            <div class="field-warning">#3 Agreement has not been signed yet.</div>
        </section>
    <% } %>

<% } else {%>

    <!-- TODO: if already a Student then skip this -->
    <% if(!user.student) { %>
        
        <section class="row-item-85">
            <div class="field-value -small">#1 Data Collection has been completed by User <%= new Date(user.dataCollection.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
        <section class="row-item-85">
            <div class="field-value -small">#2 Application has been completed by User <%= new Date(user.application.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
        <section class="row-item-85">
            <div class="field-value -small">#3 Agreement has been signed by User <%= new Date(user.agreement.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
        </section>
    
        <section class="row-item-85"><div class="gap-line"></div></section>

        <% if(!user.agreement.schoolSignRep) { %>
            <section class="row-item-85">
                <div class="field-warning">Agreement hasn't been signed by School's manager!!!</div>
            </section>
        <% } else { %>
            <section class="row-item-85">
                <div class="field-accomplished">Agreement has been signed also from School's behalf.</div>
            </section>

            <form action="/admin/student/new/<%= user._id %>" method="post">
    
                <section class="row-item-85">
                    <div class="field-accomplished">Everything is ready to create a new Student on Applicant Profile basis</div>
                    <button class='-btn' type="submit">Make a Student</button>
                </section>
        
            </form>
        <% } %> 
       
    <% } else { %>

        <section class="row-item-85">
            <div class="fields-set">
                <div class="field-title">Student Key:</div>
                <div class="field-value"><%= user.student.key %></div>
            </div>
        </section>
        <section class="row-item-85">
            <div class="fields-set">
                <div class="field-title">Record Created:</div>
                <div class="field-value"><%= new Date(user.student.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %> (<%= new Date(user.student.created).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles' }) %>)</div>
            </div>
        </section>

        <section class="row-item-85">
            <div class="fields-set">
                <div class="field-title">hooked up email:</div>
                <a href="mailto:<%= user.student.email %>">
                    <% if(user.student.email === user.email) { %>
                        <div class="field-value -email field-accomplished" title="equals to user email"><%= user.student.email %></div>
                    <% } else { %>
                        <div class="field-value -email field-warning" title="doesn't equal to user email"><%= user.student.email %></div>
                    <% } %>
                </a>
            </div>
        </section>

        <section class="row-item-85">
            <div class="fields-set">
                <div class="field-title">user inner #id:</div>
                <div class="field-value"><%= user.student.user %></div>
            </div>
            <div class="fields-set">
                <div class="field-title">student inner #id:</div>
                <div class="field-value"><%= user.student._id %></div>
            </div>
        </section>


        <!-- Location -->
        <section class="row-item-85">

            <div class="field-title">Location</div>
            <% const location = user.student.location ? user.student.location : 'UNSET' %>
            <% const locs = ['Tacoma, WA', 'Kent, WA', 'Troutdale, OR'] %>
            
            <form class="fields-set -evently -space-between" action='/admin/student/update-location' method="post" id="update-location">
                <input type="hidden" name="studentId" value="<%= user.student._id %>" />
                <input type="hidden" name="userId" value="<%= user._id %>" />
                <select class='input-box' name='location' id='location'>
                    <% if (location === 'UNSET') { %>
                        <option value='UNSET' selected >UNSET</option>
                    <% } %>
                    <% locs.map(loc => { %>
                        <% if (location === loc) { %>
                            <option value='<%= loc %>' selected ><%= loc %></option>
                        <% } else { %>
                            <option value='<%= loc %>'><%= loc %></option>
                        <% } %>
                    <%  }) %>
                </select>
                <button type='submit' class='-btn'>Update</button>
            </form>
        </section>  <!-- Location -->


        <section class="row-item-85"><div class="gap-line"></div></section>

        <section class="row-item-85">
            <div class="fields-set">
                <div class="field-title">Learning Center</div>
                <% if(user.student.tuition) { %>
                    <div class="field-value">Course assigned: <%= new Date(user.student.tuition.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
                <% } else { %>
                    <div class="field-warning">Has no Access <a class="-btn" href="/admin/student/allow-tuition/<%= user.student._id %>">Allow</a></div>
                <% } %>
            </div>
            <% if(user.student.tuition) { %>
                <div class="fields-set">
                    <div class="field-title">Permission</div>
                    <% if(user.student.tuition.isAllowed) { %>
                        <div class="field-accomplished">Access Granted <a class="-btn" href="/admin/student/change-tuition-access/<%= user.student._id %>?action=disable">Disable</a></div>
                    <% } else { %>
                        <div class="field-warning">Access is disabled <a class="-btn" href="/admin/student/change-tuition-access/<%= user.student._id %>?action=enable">Enable</a></div>
                    <% } %>
                </div>
            <% } %>
        </section>

        <% if(user.student.tuition) { %>
            <section class="row-item-75">
                <div class="fields-set">
                    <div class="field-value">Average progress: <%= Math.round(user.student.tuition.avLessonsRate * 1000) / 10 %>%</div>
                </div>
            </section>
            <% if(user.student.tuition.lessons.length) { %>     <!-- begun tuition -->
                <section class="row-item-75">
                    <div class="fields-set">
                        <div class="field-accomplished">Student has begun tuition</div>
                    </div>
                </section>
                <section class="row-item-85">
                    <div class="fields-set">
                        <div class="field-title -sm1 -module">MODULE</div>
                        <div class="field-value -sm1 -title">TITLE</div>
                        <div class="field-value -sm1 -date-title">LAST TAKE</div>
                        <div class="field-value -sm1 -progress">PROGRESS</div>
                        <div class="field-value -sm1 -test">TEST</div>
                        <div class="field-value -sm1 -test-accomplished">ACCOMPLISHED AT</div>
                    </div>
                </section>
                <% user.student.tuition.lessons.map(lesson => { %>
                    <section class="row-item-85">
                        <div class="fields-set -top-align">
                            <div class="field-title -sm1 -module"><%= lesson.lesson %></div>
                            <div class="field-value -sm1 -title"><%= lesson.lessonTitle %></div>
                            <div class="field-value -sm1 -date-title"><%= new Date(lesson.watchDate).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %> (<%= new Date(lesson.watchDate).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles' }) %>)</div>
                            <div class="field-value -sm1 -progress"><%= Math.round(lesson.videoProgress*1000) / 10 %>%</div>
                            <% if(lesson.testProgress > 0) { %>
                                <div class="field-value -sm1 -test">+</div>
                                <div class="field-value -sm1 -test-accomplished"><%= Math.round(lesson.testProgress*1000) / 10 %>%</div>
                            <% } else { %>
                                <div class="field-value -sm1 -test -orange">-</div>
                                <div class="field-value -sm1 -test-accomplished">-</div>
                            <% } %>
                        </div>
                    </section>
                <% }) %>
            <% } else { %>
                <section class="row-item-75">
                    <div class="fields-set">
                        <div class="field-warning">The course is scheduled but Student has not begun a tuition yet</div>
                    </div>
                </section>
            <% } %>
        <% } %>
        
        <section class="row-item-85"><div class="gap-line"></div></section>

        <!-- TTT -->
        <% function strTTT(TTT) { const H = Math.trunc(TTT); const M = Math.round(60*(TTT % 1)); return M > 9 ? `${H}h:${M}m` : `${H}h:0${M}m` } %>
        <% function normTTT(TTT) { return `${ Math.round(TTT * 100) / 100 }h` } %>
        <% function normCOORD(latlon) { return Math.round(latlon * 1000) / 1000 } %>

        <% if (user.student.TTT) { %>
            <section class="row-item-85">
                <div class="fields-set">
                    <div class="field-title">Total Tuition Time:</div>
                    <div class="field-value -orange"><%= strTTT(user.student.TTT) %> | <%= normTTT(user.student.TTT) %> SAVED</div>
                    <% if (verTTT) { %>
                        <div class="field-value">( just recalculated <%= normTTT(verTTT) %>, should match)</div>
                    <% } %>
                </div>

                <form action="/admin/clocks" method="POST">
                    <input type="hidden" name="studentId" value="<%= user.student._id %>" />
                    <input type="hidden" name="studentKey" value="<%= user.student.key %>" />
                    <input type="hidden" name="studentName" value="<%= user.dataCollection.firstName %> <%= user.dataCollection.middleName %> <%= user.dataCollection.lastName %>" />
                    <input type="hidden" name="visiting" value="<%= user.agreement.visiting %>" />
                    <button class="-btn" type="submit">Details</button>
                </form>

            </section>
        <% } %>
        
        <section class="row-item-85"><div class="gap-line"></div></section>

        <!-- QR Clocks -->
        <% if (verClocks) { %>
            
            <section class="row-item-85">
                <div class="fields-set">
                    <div class="field-title -sm1 -date-title">DATE</div>
                    <div class="field-value -sm1">KEY</div>
                    <div class="field-value -sm1 -bold">IN</div>
                    <div class="field-value -sm1 -no-coord">IN GEO</div>
                    <div class="field-value -sm1 -bold">OUT</div>
                    <div class="field-value -sm1 -no-coord">OUT GEO</div>
                    <div class="field-value -sm1 -bold">Duration</div>
                    <div class="field-value -sm1">| Ratio</div>
                </div>
            </section>

            <% verClocks.map(clock => { %>

                <% let duration = clock.duration / (1000 * 60 *60) %>
                
                <section class="row-item-85">
                    <div class="fields-set">
                        <!-- Date, key -->
                        <div class="field-title -sm1 -date-title"><%= new Date(clock.date).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
                        <div class="field-value -sm1"><%= clock.dateKey %></div>
                        
                        <!-- IN & coord -->
                        <div class="field-value -sm1"><%= new Date(clock.in).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
                        <% if (!isNaN(clock.inlat) && !isNaN(clock.inlon)) { %>
                            <a class="field-value -sm1 -coord" href="http://www.google.com/maps/place/<%= clock.inlat %>,<%= clock.inlon %>" target="_blank">
                                <%= normCOORD(clock.inlat) %>,<%= normCOORD(clock.inlon) %>
                            </a>
                        <% } else { %>
                            <div class="field-value -sm1 -no-coord"><%= clock.inlat %>,<%= clock.inlon %></div>
                        <% } %>

                        <!-- OUT & coord -->
                        <% if( !isNaN(clock.out) ) { %>
                            <div class="field-value -sm1"><%= new Date(clock.out).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles' }) %></div>
                        <% } else { %>
                            <div class="field-value -sm1 -orange">NO</div>
                        <% } %>

                        <% if (!isNaN(clock.outlat) && !isNaN(clock.outlon)) { %>
                            <a class="field-value -sm1 -coord" href="http://www.google.com/maps/place/<%= clock.outlat %>,<%= clock.outlon %>" target="_blank">
                                <%= normCOORD(clock.outlat) %>,<%= normCOORD(clock.outlon) %>
                            </a>
                        <% } else { %>
                            <div class="field-value -sm1 -no-coord"><%= clock.outlat %>,<%= clock.outlon %></div>
                        <% } %>

                        <!-- duration -->
                        <% if( !isNaN(clock.out) ) { %>
                            <div class="field-value -sm1"><%= strTTT(duration) %></div>
                            <div class="field-value -sm1">| <%= normTTT(duration) %></div>
                        <% } else { %>
                            <div class="field-value -sm1 -orange"><%= strTTT(duration) %></div>
                            <div class="field-value -sm1 -orange">| <%= normTTT(duration) %></div>
                        <% } %>

                    </div>
                </section>
            <% }) %>
        <% } %>

        
        <script>
            const loc_form = document.querySelector('#update-location')
            if (loc_form) {
                loc_form.addEventListener('submit', (e) => {
                    const new_loc = document.querySelector('#location').value
            
                    if (new_loc === 'UNSET') {
                        alert("Location cannot be changed to 'UNSET'")
                        e.preventDefault()
                        return
                    }
                    
                    const current_loc = '<%= user.student.location %>'
                    if (new_loc === current_loc) {
                        e.preventDefault()
                        return
                    }
                })
            }
        </script>

    <% } %>     <!-- already a Student -->
    
<% } %>     <!-- if all forms are ready -->

